#user_input{
  height: 300px;
  width: 83%;
}
.txtarea{
  display: flex;
  justify-content: center;
}
.button{
  font-family: Fugaz One;
  border-color: #00A98C;
  border-radius: 2px;
  border-width: 3px;
  height: 50px;
  width: 200px;
}
.modifybutton{
  margin: 7px;
  display: flex;
  justify-content: center;
}
.share{
  font-size: 20px;
  display: flex;
  color: white;
}
.div{
  font-family: Fugaz One;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  height: 50px;
  width: 100%;
  background-color: #00A98C;
  border-radius: 3px;
}
.userstext{
  background-color: #9BCBC3;
  width: 975px;
  border: 2px solid #00A98C;
  margin-left: auto;
  margin-right: auto;
  padding: 7px;

}
.txtcontainers{
  border: 1px solid gray;
  margin: 4px;
  padding: 7px;
}


/*kelly's code starts here*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff7f1;
}

header {
  padding: 10px;
  width: 100%;
  position: sticky;
}

h1 {

  font-family: Fugaz One;
  font-size: 40px;
  display: flex;
  justify-content: center;
  color: black;
}

.nav {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

li a {
  display: block;
  color: black;
  text-decoration: none;
  font-family: Montserrat;
}

i {
  border: solid black;
  border-width: 0 4px 4px 0;
  border-radius: 4px;
  display: block;
  padding: 9px;
  margin-left: 20px;
}

.arrow-down {

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

nav {
  display: none;
  float: left;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    position: relative;
}
nav a {
    display: block;
    text-align: center;
    text-decoration: none;
}

nav li ul {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    opacity: 0;
    width: auto;
    z-index: 1;
}
nav li:hover ul {
    opacity: 1;
    visibility: visible;
}

nav li ul li a{
  margin-top: 30px;
  margin-left: 20px;
  font-size: 25px;
  font-family: Oswald;
  display: flex;
  text-align: left;
}

.nav>ul>li>a:hover {
  color: #7B6EF7;
}

nav li ul li a:hover {
  color: #00A98C;
}

@media screen and (max-width: 900px) {
  .nav>ul>li>a {
    font-size: 13px;
  }
  h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  ul {
    display: none;
  }

  h1 {
    font-size: 30px;
  }

  nav {
    display: block;
  }
}

/*Above are the header css stuff/*
