* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff7f1;
}

header {
  padding: 10px;
  width: 100%;
  position: sticky;
}

h1 {
  font-family: Fugaz One;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

li a {
  display: block;
  color: black;
  text-decoration: none;
  font-family: Montserrat;
}

i {
  border: solid black;
  border-width: 0 4px 4px 0;
  border-radius: 4px;
  display: block;
  padding: 9px;
  margin-left: 20px;
}

.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

nav {
  display: none;
  float: left;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    position: relative;
}
nav a {
    display: block;
    text-align: center;
    text-decoration: none;
}

nav li ul {
    display: block;
    position: absolute;
    opacity: 0;
    width: auto;
    z-index: 1;
    background-color: #FFF7F1;
    margin-top: 20px;
}
nav li:hover ul {
    opacity: 1;
    visibility: visible;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
 filter: drop-shadow(5px 5px 5px #222);
}

nav li ul li {
  width: 200px !important;
  height: 80px !important;
}

nav li ul li a{
  margin-top: 30px;
  margin-left: 20px;
  font-size: 22px;
  font-family: Oswald;
  display: flex;
  text-align: left;
  z-index: 9999;
  background-color: #FFF71;
}

.nav>ul>li>a:hover {
  color: #7B6EF7;
}

nav li ul li a:hover {
  color: #00A98C;
}

nav li ul li a: visited {
  color: black;
}

@media screen and (max-width: 900px) {
  .nav>ul>li>a {
    font-size: 14px;
  }
  h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  ul {
    display: none;
  }

  h1 {
    font-size: 30px;
  }

  nav {
    display: block;
  }
}

.slideshow-container {
  position: relative;
  margin: 50px;
  width: 60%;
  margin-top: 10px;
  margin-bottom: 0px;
  z-index: -9999;
  margin-left: auto;
  margin-right: auto;
}

.mySlides {
  display: none;
}

.dots {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.column {
  float: left;
  width: 33.33%;
}

.number:after {
  content: "";
  display: table;
  clear: both;
}

.number {
  background-color: #FFF7F1;
  color: #FF9B4C;
  max-width: 800px;
  margin: 100px auto 0;
  text-align: center;
  display: table;
}

.row {
display: flex;
justify-content: center;
margin-left: auto;
margin-right: auto;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  margin-bottom: -100px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h3 {
  font-family: Oswald;
  font-size: 90px;
  color: #7B6EF7;
  text-align: center;
}

.column>p {
 font-family: Montserrat;
 font-size: 17px;
 color:black;
 font-weight: bold;
 text-align:center;
}

  .video {
    display:flex;
    justify-content:center;
    margin: auto;
    padding:120px;
  }


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
