.LGBTQ, .Gender, .Rights {
  color: white;
  margin: 25px;
}
.Class1 {
  background: #00A98C;
  border-radius: 25px;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 25px;
  padding: 5px;
}

h2 {
  display: flex;
  justify-content: center;
  font-family: Montserrat;
}

h3 {
  font-family: Oswald;
}
.human {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container {
  width: 90%;
  height: 90%;
  margin-left: 75px
  margin-right: 75px;
  margin-bottom: 15px;
  border: 8px dotted #FF9B4C;
  border-radius: 25px;
}
.help2 {
  background-color: #7B6EF7;
  border-radius: 25px;
  margin-left: 75px;
  margin-right: 200px;
  margin-bottom: 25px;
  padding: 5px;
}
.p2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.gender2 {
  width: 40%;
  height: 40%;
  margin-left: 75px;
  margin-bottom: 25px;
  border: 8px dotted #FF9B4C;
  border-radius: 25px;
}
.p3 {
  background-color: #00A98C;
  border-radius: 25px;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 25px;
  padding: 5px;
}
.rites {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.con {
 border: 8px dotted #FF9B4C;
 border-radius: 25px;
 margin-bottom: 25px;
 width: 85%;
 height: 85%;
}
p {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 75px;
  margin-right: 75px;
  color: black;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff7f1;
}

header {
  padding: 10px;
  width: 100%;
  position: sticky;
}

h1 {
  font-family: Fugaz One;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

hr {
  display: block;
  height: 5px;
  border: 0;
  border-top: 5px solid #000;
  margin: 1em 0;
  padding: 0;
}

/*Rights*/

.nav {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

li a {
  display: block;
  color: black;
  text-decoration: none;
  font-family: Montserrat;
}

i {
  border: solid black;
  border-width: 0 4px 4px 0;
  border-radius: 4px;
  display: block;
  padding: 9px;
  margin-left: 20px;
}

.resources>p {
  font-family: Montserrat;
  color: black;
}

.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

nav {
  display: none;
  float: left;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    position: relative;
}
nav a {
    display: block;
    text-align: center;
    text-decoration: none;
}

nav li ul {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    opacity: 0;
    width: auto;
    z-index: 1;
}
nav li:hover ul {
    opacity: 1;
    visibility: visible;
}

nav li ul li a{
  margin-top: 30px;
  margin-left: 20px;
  font-size: 25px;
  font-family: Oswald;
  display: flex;
  text-align: left;
}

.nav>ul>li>a:hover {
  color: #7B6EF7;
}

nav li ul li a:hover {
  color: #7b6ef7;
}

@media screen and (max-width: 900px) {
  .nav>ul>li>a {
    font-size: 13px;
  }
  h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  ul {
    display: none;
  }

  h1 {
    font-size: 30px;
    display: flex;
    justify-content: center;
  }
.links{
  color: black;
}
  nav {
    display: block;
  }
}

h3{
  color: white;

}









/*Above are the header css stuff/*
